<!DOCTYPE html>
<HTML xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/geral.css" media="screen"/>
    <title>Gêneros</title>
</head>
<body>
    <div id="menu">
    <h1>Gerenciador de Biblioteca</h1>
    <a href="/cadastrarEditora"><h3>Gerenciar Editoras</h3></a>
    <a href="/cadastrarAutor"><h3>Gerenciar Autoras</h3></a>
    <a href="/cadastrarLivro"><3>Gerenciar Livros</h3></a>
    </div>

    <h2>Cadastre um Gênero</h2>
    <!-- adicionar autor-->
    <form action="">
        Gênero<input type="text" value="" name="genero"/>
    </form>
    <button type="submit">Salvar</button>
     <table>
            <thead>
                <tr>
                    <th>Gênero</th>
                    <th>Editar</th>
                    <th>Apagar</th>
        </tr>
        </thead>

    <h2>Tabela dos Gêneros</h2>
    <tr th:each="genero: ${generos}">
            <!-- tabela-->
            <div class="row"></div>
            <td><span th: text="${genero.nome}"></span></td>
             <a href="/editarGenero"><td><button type="submit">Editar</button></td></a>
            <td><button type="submit">Deletar</button></td>
    </tr>
    </tbody>
    </table>


    <script type="text/javascript" src="js/javascript-geral.js"></script>
</body>
</html>