<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="styles/geral.css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Autoras</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="#" class="brand-logo">Gerenciador de Biblioteca</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/livro">Livros</a></li>
                    <li><a href="/editor">Editores</a></li>
                    <li><a href="/genero">Gêneros</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <h1>Editar autor</h1>

    <p>Nome atual: <span th:text="${autor.getNome()}"></span></p>


    <form method="POST">
        Autor<input type="text" value="" name="nome"/>
        <button class="waves-effect waves-light btn" type="submit">Salvar</button>
    </form>

    <div class="container">
        <th:block th:include="mensagemValidacao"></th:block>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

    <footer>
        <p>Trabalho da Disciplina de Laboratório de Linguagem de Programação II</p>
        <p>Bruna Sanches - Gabriel Coelho - Giovana Brágio - Janine de Amorim - Maria Eduarda Carmona - Victor Wilson</p>
        <p>INF3</p>
    </footer>
</body>
</html>