<!DOCTYPE html>
<HTML xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Autores</title>
</head>
<body>
    <div id="menu">
    <h1>Gerenciador de Biblioteca</h1>
    <a href="/cadastrarEditora"><h3>Gerenciar Editoras</h3></a>
    <a href="/cadastrarGenero"><h3>Gerenciar Gêneros</h3></a>
    <a href="/cadastrarLivro"><h3>Gerenciar Livros</h3></a>
    </div>

    <h2>Cadastre uma Editora</h2>
    <!-- adicionar autor-->
    <form action="">
        Autor<input type="text" value="" name="nome"/>
    </form>
    <button type="submit">Salvar</button>




    <h2>Tabela das Editoras:</h2>
    <!-- tabela-->



    <button type="submit">Deletar</button>
    <button type="submit">Editar</button>
</body>
</html>