<!DOCTYPE html>
<HTML xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/geral.css" media="screen"/>
    <title>Autores</title>
</head>
<body>
    <div id="menu">
    <h1>Gerenciador de Biblioteca</h1>
    <a href="/cadastrarEditora"><h3>Gerenciar Editoras</h3></a>
    <a href="/cadastrarGenero"><h3>Gerenciar Gêneros</h3></a>
    <a href="/cadastrarLivro"><h3>Gerenciar Livros</h3></a>
    </div>

    <h2>Cadastre uma Editora</h2>
    <!-- adicionar autor-->
    <form action="">
        Autor<input type="text" value="" name="autor"/>
    </form>
    <button type="submit">Salvar</button>
    <h2>Tabela das Autores</h2>
    <table>
        <thead>
        <tr>
            <th>Autores</th>
            <th>Editar</th>
            <th>Apagar</th>
        </tr>
        </thead>


    <tr th:each="autor: ${autores}">
        <!-- tabela-->
        <div class="row"></div>
        <td><span th: text="${autor.nome}"></span></td>
        <a href="/editarAutor"><td><button type="submit">Editar</button></td></a>
        <td><button type="submit">Deletar</button></td>
    </tr>
        </tbody>
    </table>


    <script type="text/javascript" src="js/javascript-geral.js"></script>
</body>
</html>