<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout ="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="styles/geral.css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Biblioteca</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Gerenciador de Biblioteca</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="/livro">Livros</a></li>
                    <li><a href="/editora">Editoras</a></li>
                    <li><a href="/genero">Gêneros</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1>Cadastre um Autor</h1>
        <form method="POST">
            <div class="row">
                <p class="col s2">Nome do Autor:</p>
                <input class="input-field col s10" type="text" value="" name="nome"/>
            </div>
            <div class="row">
                <button class="waves-effect waves-light btn col offset-l4 s4" type="submit">Salvar</button>
            </div>
        </form>
    </div>

    <div class="container">
        <th:block th:include="mensagemValidacao"></th:block>
    </div>

    <div class="container">
        <h2>Tabela dos Autores</h2>
        <table>
            <thead>
                <tr>
                    <th>Autores</th>
                    <th>Editar</th>
                    <th>Apagar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="autor: ${autores}">
                    <td><span th:text="${autor.nome}"></span></td>
                    <td>
                        <a th:href="${(#mvc.url('AC#editarAutor').arg(0, autor.codigo)).build()}">
                            <button class="waves-effect waves-light btn" id="botaoEditar" type="submit">Editar</button>
                        </a>
                    </td>
                    <td>
                        <a th:href="${(#mvc.url('AC#deletarAutor').arg(0, autor.codigo)).build()}">
                            <button class="waves-effect waves-light btn" id="botaoApagar" type="submit">
                                <i class="material-icons">delete</i>
                            </button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

    <footer>
        <p>Trabalho da Disciplina de Laboratório de Linguagem de Programação II</p>
        <p>Bruna Sanches - Gabriel Coelho - Giovana Brágio - Janine de Amorim - Maria Eduarda Carmona - Victor Wilson</p>
        <p>INF3</p>
    </footer>
</body>
</html>