<!DOCTYPE html>
<HTML xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Biblioteca</title>
    <body>
    <h1>Dados dos Livros:</h1>
    <form method="post">
        Título<input type="text" value="" name="nome"/>
        Autor<input type="text" value="" name="nome"/>
        Editora<input type="text" value="" name="nome"/>
        ISBN<input type="number" value="" name="nome"/>
        Gênero<input type="text" value="" name="nome"/>
        Número de Páginas<input type="number" value="" name="nome"/>

        <button type="submit">Criar</button>
        <button type="submit">Deletar</button>
        <button type="submit">Editar</button>
    </form>

</body>
</head>
</HTML>