<!DOCTYPE html>
<HTML>

<head>
    <meta charset="UTF-8">
    <title>Gerenciador de Biblioteca</title>
</head>
<body>
    <div id="menu">
    <h1>Gerenciador de Biblioteca</h1>
    <a href="/cadastrarLivro"><h3>Gerenciar Livros</h3></a>
    <a href="/cadastrarEditora"><h3>Gerenciar Editoras</h3></a>
    <a href="/cadastrarAutor"><h3>Gerenciar Autoras</h3></a>
    <a href="/cadastrarGenero"><h3>Gerenciar Gêneros</h3></a>
    </div>
    <h2>Sejam Bem-Vindos ao Gerenciador de Biblioteca!</h2>
    <p>Está aplicação foi criada através da framework Java chamada Spring Boot.</p>
</body>


</html>