<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="styles/geral.css"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Biblioteca</title>

</head>
<body>
<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Gerenciador de Biblioteca</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/livro">Livros</a></li>
                <li><a href="/autor">Autores</a></li>
                <li><a href="/editora">Editoras</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>
<div class="container">
    <h1>Editar livro</h1>

    <p>Título atual: <span th:text="${livro.getTitulo()}"></span></p>
    <p>Autor atual: <span th:text="${livro.getAutor().getNome()}"></span></p>
    <p>Editora atual: <span th:text="${livro.getEditora().getNome()}"></span></p>
    <p>Gênero atual: <span th:text="${livro.getGenero().getNome()}"></span></p>
    <p>Isbn atual: <span th:text="${livro.getIsbn()}"></span></p>
    <p>Número de páginas atual: <span th:text="${livro.getNumPaginas()}"></span></p>

    <form method="POST">
        Título<input type="text" value="" name="nome"/>

        Autor<select name="nome" class="select.browser-default" >
        <option th:each="autor:${autoresSelect}"

                th:text="${autor.getNome()}"></option>
    </select>

        Editora<select name="nome" class="select.browser-default">
        <option th:each="editora:${editorasSelect}"
                th:text="${editora.getNome()}"></option>
    </select>

        Gênero<select name="nome" class="select.browser-default">
        <option th:each="genero:${generosSelect}"

                th:text="${genero.getNome()}">Gênero</option>
    </select>

        ISBN<input type="text" value="" name="nome"/>

        Número de Páginas<input type="text" name="nome"/>

        <div class="row">
            <button class="waves-effect waves-light btn col offset-l4 s4" type="submit">Salvar</button>
        </div>
    </form>
</div>
</main>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

<footer>
    <p>Trabalho da Disciplina de Laboratório de Linguagem de Programação II</p>
    <p>Bruna Sanches - Gabriel Coelho - Giovana Brágio - Janine de Amorim - Maria Eduarda Carmona - Victor Wilson</p>
    <p>INF3</p>
</footer>

</body>
</html>