<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Biblioteca</title>

</head>
<body>
<div id="menu">
    <h1>Gerenciador de Biblioteca</h1>
    <h3><a class="waves-effect waves-light btn" href="/cadastrarGenero">Gerenciar Gêneros</a></h3>
    <h3><a class="waves-effect waves-light btn" href="/autor">Gerenciar Autores</a></h3>
    <h3><a class="waves-effect waves-light btn" href="/editora">Gerenciar Editoras</a></h3>
    <h3><a class="waves-effect waves-light btn" href="/cadastrarLivro">Gerenciar Livros</a></h3>
</div>

<h2>Edite um livro</h2>
<form method="post">
    Título<input type="text" value="" name="nome"/>

    Autor<select name="autor">
    <option value="valor1">Valor 1</option>
</select>
    Editora<select name="editora">
    <option value="valor1">Valor 1</option>
</select>
    Gênero<select name="genero">
    <option value="valor1">Valor 1</option>
</select>

    ISBN<input type="text" value="" name="isbn"/>
    Número de Páginas<input type="number" value="" name="numPaginas"/>
    <button type="submit">Salvar</button>
</form>

<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>