<!DOCTYPE html>
<HTML xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Livro</title>

    <link rel="stylesheet" type="text/css" href="css/geral.css" media="screen"/>
</head>

    <body>
    <div id="menu">
    <h1>Gerenciador de Biblioteca</h1>
    <a href="/cadastrarEditora"><h3>Gerenciar Editoras</h3></a>
    <a href="/cadastrarAutor"><h3>Gerenciar Autoras</h3></a>
    <a href="/cadastrarGenero"><h3>Gerenciar Gêneros</h3></a>
    </div>

    <h2>Cadastre um livro</h2>
        <form method="post">
            Título<input type="text" value="" name="nome"/>

            Autor<select name="autor">
                <option value="valor1">Valor 1</option>
            </select>
            Editora<select name="editora">
                <option value="valor1">Valor 1</option>
            </select>
            Gênero<select name="genero">
                <option value="valor1">Valor 1</option>
            </select>

            ISBN<input type="number" value="" name="isbn"/>
            Número de Páginas<input type="number" value="" name="numPaginas"/>
            <button type="submit">Salvar</button>
        </form>

    <h2>Tabela dos livros</h2>

    <table>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Editora</th>
                <th>Gênero</th>
                <th>ISBN</th>
                <th>Número de Páginas</th>
                <th>Editar</th>
                <th>Apagar</th>

    </tr>
    </thead>

    <tbody>
        <tr th:each="livro: ${livros}">
            <!-- tabela-->
            <div class="row"></div>
                <td><span th: text="${livro.titulo}"></span></td>
                <td><span th: text="${autor.nome}"></span></td>
                <td><span th: text="${editora.nome}"></span></td>
                <td><span th: text="${gênero.nome}"></span></td>
                <td><span th: text="${livro.isbn}"></span></td>
                <td><span th: text="${livro.numPaginas}"></span></td>
                <a href="/editarLivro"><td><button type="submit">Editar</button></td></a>
                <td><button type="submit">Deletar</button></td>
        </tr>
    </tbody>
    </table>

    <script type="text/javascript" src="js/javascript-geral.js"></script>
</body>
</HTML>