<!DOCTYPE html>
<HTML xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
</head>

    <body>
    <div id="menu">
    <h1>Gerenciador de Biblioteca</h1>
    <a href="/cadastrarEditora"><h3>Gerenciar Editoras</h3></a>
    <a href="/cadastrarAutor"><h3>Gerenciar Autoras</h3></a>
    <a href="/cadastrarGenero"><h3>Gerenciar Gêneros</h3></a>
    </div>

    <h2>Cadastre um livro</h2>
        <form method="post">
            Título<input type="text" value="" name="nome"/>

            Autor<select name="select">
                <option value="valor1">Valor 1</option>
            </select>
            Editora<select name="select">
                <option value="valor1">Valor 1</option>
            </select>
            Gênero<select name="select">
                <option value="valor1">Valor 1</option>
            </select>

            ISBN<input type="number" value="" name="nome"/>
            Número de Páginas<input type="number" value="" name="nome"/>
        </form>

        <div>
            <h2>Tabela dos livros:</h2>
            <!-- tabela-->

            <button type="submit">Deletar</button>
            <button type="submit">Editar</button>
        </div>



</body>
</HTML>