<!DOCTYPE html>
<HTML xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Editora</title>
</head>
<body>
    <h1>Gerenciador de Biblioteca</h1>
    <a href=formGene.html><button>Gerenciar Gêneros</button></a>
    <a href="formAutor.html"><button>Gerenciar Autoras</button></a>
    <a href="formLivro.html"><button>Gerenciar Livros</button></a>


    <h2>Cadastrar uma Editora</h2>
    <!-- adicionar editora-->
    <form action="">
        Editora<input type="text" value="" name="nome"/>
    </form>
    <button type="submit">Salvar</button>


    <h2>Tabela das Editoras:</h2>
    <!-- tabela-->


    <button type="submit">Deletar</button>
    <button type="submit">Editar</button>
</body>
</html>