<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Livros</title>

</head>
    <body>
    <div id="menu">
    <h1>Gerenciador de Biblioteca</h1>
        <h3><a class="waves-effect waves-light btn" href="/genero">Gerenciar Gêneros</a></h3>
        <h3><a class="waves-effect waves-light btn" href="/autor">Gerenciar Autores</a></h3>
        <h3><a class="waves-effect waves-light btn" href="/editora">Gerenciar Editoras</a></h3>
    </div>

    <h2>Cadastre um livro</h2>
        <form method="post">
            Título<input type="text" value="" name="nome"/>
            Autor<select name="autor">
                <option value="valor1">Valor 1</option>
            </select>
            Editora<select name="editora">
                <option value="valor1">Valor 1</option>
            </select>
            Gênero<select name="genero">
                <option value="valor1">Valor 1</option>
            </select>

            ISBN<input type="text" value="" name="isbn"/>
            Número de Páginas<input type="number" name="numPaginas"/>
            <button class="waves-effect waves-light btn" type="submit">Salvar</button>
        </form>
    <div class="container">
    <h2>Tabela dos livros</h2>

    <table>
        <thead>
            <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Editora</th>
                <th>Gênero</th>
                <th>ISBN</th>
                <th>Número de Páginas</th>
                <th>Editar</th>
                <th>Apagar</th>
    </tr>
    </thead>

    <tbody>
        <tr th:each="livro:${livros}">
            <!-- tabela-->
                <td><span th:text="${livro.titulo}"></span></td>
                <td><span th:text="${autor.nome}"></span></td>
                <td><span th:text="${editora.nome}"></span></td>
                <td><span th:text="${gênero.nome}"></span></td>
                <td><span th:text="${livro.isbn}"></span></td>
                <td><span th:text="${livro.numPaginas}"></span></td>
                <td><a href="/editarLivro"><button class="waves-effect waves-light btn" id="botaoEditar" type="submit">Editar</button></a></td>
                <td><button class="waves-effect waves-light btn" id="botaoApagar" type="submit">Deletar</button></td> <!-- n entendi -->
        </tr>
    </tbody>
    </table>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
