<!DOCTYPE html>
<HTML xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Autores</title>
</head>
<body>
    <h1>Gerenciador de Biblioteca</h1>
    <a href=formEditora.html><button>Gerenciar Editoras</button></a>
    <a href="formGene.html"><button>Gerenciar Gêneros</button></a>
    <a href="formLivro.html"><button>Gerenciar Livros</button></a>

    <h2>Cadastre uma Editora</h2>
    <!-- adicionar autor-->
    <form action="">
        Autor<input type="text" value="" name="nome"/>
    </form>
    <button type="submit">Salvar</button>




    <h2>Tabela das Editoras:</h2>
    <!-- tabela-->



    <button type="submit">Deletar</button>
    <button type="submit">Editar</button>
</body>
</html>