<!DOCTYPE html>
<HTML xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>

    <link rel="stylesheet" type="text/css" href="css/geral.css" media="screen"/>
</head>
<body>
<div id="menu">
    <h1>Gerenciador de Biblioteca</h1>
    <a href="/cadastrarEditora"><h3>Gerenciar Editoras</h3></a>
    <a href="/cadastrarAutor"><h3>Gerenciar Autoras</h3></a>
    <a href="/cadastrarGenero"><h3>Gerenciar Gêneros</h3></a>
</div>

<h2>Edite uma Editora</h2>
<form action="">
    Editora<input type="text" value="" name="editora"/>
</form>
<button type="submit">Salvar</button>

<script type="text/javascript" src="js/javascript-geral.js"></script>
</body>
</html>