<!DOCTYPE html>
<HTML xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/geral.css" media="screen"/>
    <title>Editora</title>
</head>
<body>
    <div id="menu">
    <h1>Gerenciador de Biblioteca</h1>
    <a href="/cadastrarGenero"><h3>Gerenciar Gêneros</h3></a>
    <a href="/cadastrarAutor"><h3>Gerenciar Autoras</h3></a>
    <a href="/cadastrarLivro"><h3>Gerenciar Livros</h3></a>
    </div>

    <h2>Cadastrar uma Editora</h2>
    <!-- adicionar editora-->
    <form action="">
        Editora<input type="text" value="" name="editora"/>
    </form>
    <button type="submit">Salvar</button>
    <table>
        <thead>
        <tr>
            <th>Editora</th>
            <th>Editar</th>
            <th>Apagar</th>
        </tr>
        </thead>

    <h2>Tabela das Editoras:</h2>
    <tr th:each="editora: ${editoras}">
        <!-- tabela-->
        <div class="row"></div>
        <td><span th: text="${editora.nome}"></span></td>
        <a href="/editarEditora"><td><button type="submit">Editar</button></td></a>
        <td><button type="submit">Deletar</button></td>
        </tr>
        </tbody>
        </table>


    <script type="text/javascript" src="js/javascript-geral.js"></script>
</body>
</html>